@page "/ethor"
@using eThorWebApp.Shared.Models
@using Microsoft.AspNetCore.Authorization
@inject HttpClient Http
@attribute [Authorize]

<Breadcrumb>
    <BreadcrumbItem IsActive="true">Ethor</BreadcrumbItem>
</Breadcrumb>

@if (Entities == null)
{
    <p><em>Loading Ethor listings...</em></p>
}
else
{
    <BlazorTable class="table" IsSmall="true" IsHovarable="true">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">HardProperty</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entity in Entities)
            {
                <tr>
                    <td>@entity.Id</td>
                    <td>@entity.Name</td>
                    <td>
                        <blockquote class="blockquote">
                            <ol>
                              @foreach (var property in entity.HardPropertyList)
                              {
                                <li>@property</li>
                              }
                            </ol>
                        </blockquote>
                    </td>
                    <td>
                        @{
                            <eThorWebApp.Client.Pages.ethor.Edit entityId="@entity.Id"></eThorWebApp.Client.Pages.ethor.Edit>
                        }
                        @{
                            <eThorWebApp.Client.Pages.ethor.Delete entityId="@entity.Id"></eThorWebApp.Client.Pages.ethor.Delete>
                        }
                        @{
                            <eThorWebApp.Client.Pages.ethor.Details entityId="@entity.Id"></eThorWebApp.Client.Pages.ethor.Details>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </BlazorTable>

}

@functions {

    private eThorTestEntity[] Entities { get; set; } = null;

    protected override async Task OnInitAsync()
    {
        Entities = await Http.GetJsonAsync<eThorTestEntity[]>("api/eThorEntity");
    }

}